# The following checks are disabled (-<check>) because they have not yet been fixed in our code.
# If you want to work on one of these, just enable it locally in Checks.
# If you have fixed one of these, enable it in Checks and remove it from the list below.

# cppcoreguidelines-avoid-non-const-global-variables
# cppcoreguidelines-non-private-member-variables-in-classes
# cppcoreguidelines-owning-memory
# clang-analyzer-optin.cplusplus.VirtualCall
# cppcoreguidelines-pro-bounds-array-to-pointer-decay
# clang-analyzer-cplusplus.NewDeleteLeaks

Checks: 'clang-diagnostic-*,clang-analyzer-*,-*,cppcoreguidelines-*,modernize-*,bugprone-*,performance-*,readability-*,clang-analyzer-api*,clang-analyzer-core*,clang-analyzer-cplusplus*,clang-analyzer-dead*,clang-analyzer-fuchsia*,clang-analyzer-nullability*,clang-analyzer-optin*,clang-analyzer-security*,clang-analyzer-unix*,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-non-private-member-variables-in-classes,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-clang-analyzer-cplusplus.NewDeleteLeaks'
HeaderFilterRegex: '/src/[^/]*\.hpp$'
